
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title></title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="nav">
  <img src="{% static 'img/logo.png'%}" alt="">
          
           <a href="{% url 'about' %}"><h5>About</h5></a> 
           <a href="{% url 'project' %}"><h5>Projects</h5></a> 
    </nav>
    <h3 class="title">Hi I'm Khushilal learner of Web Development</h3></div>
   <div class="body"> <p>My work is mainly based on the web development,pyhton project as well as in C project also.I am intersted on programing and coding as  making simple project also.. </p>
<h3>Software:</h3><p>Python language, C  language ,Html ,css as well.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum odit ea ducimus, doloribus, maiores optio eius incidunt nesciunt, autem enim facilis? Rerum quos iste impedit provident, quibusdam molestias beatae doloribus aut, alias est labore similique eum ducimus voluptate minus tempora blanditiis architecto quaerat laudantium ipsum tenetur non, eveniet in quia. Earum, corporis. Soluta debitis, facilis non, beatae esse dignissimos velit odio delectus tempora doloribus cum. Animi mollitia quia veritatis maxime ipsa impedit! Iste, necessitatibus non esse assumenda perferendis commodi quaerat facere aperiam qui voluptas. Expedita culpa dolor asperiores placeat explicabo numquam a excepturi amet tempore, commodi, corporis, nulla doloribus repellat.</p>
<footer><h6>All rights are reserve-2022</h6>

<a href="">facebook</a>  
<a href="www.linkin.com"><h5>LinkIn</h5></a>
<a href="www.whatsapp.com"><h5>Whatsapp</h5></a>
</footer>
</body>

</html>