{% load static%}
<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> project</title>
    
    <link rel="stylesheet" href="{% static 'css/project.css'%}">
    <nav class="nav">
            <ol class="logo">ma.</ol>
            <div class="navigation">
                <a href="">
                    <ol>work</ol>
                </a>
                <a href="">
                    <ol>About</ol>
                </a>
                <a href="">
                    <ol>Playground</ol>
                </a>
                <a href="">
                    <ol>contact</ol>
            </div></a>
    </nav>
</head>

<body>
<div class="body">


<h4>Hi I’m Mehmet Akif Karasu,<br> 3D artist & sculptor.
</h4>
<p class='para'> My work is mainly focused on third-dimension modeling, texturing and rendering. I like exploring the creatures with a touch of dark surrealism for characters and production.
    
    Now I’m an interactive media design student in Istanbul ⏤ currently freelancing and seeking internship opportunities.</p>
 <h3>   Main Software </h3>
   <p> Pixologic ZBrush, Autodesk Maya, The Foundry Mari, Arnold Renderer, Blender, Forger
</p>
    
    
    Adobe CC, Figma, Ableton
<h3 class="skill">     Main Skills</h3>
    Organic and Polygonal Modeling, UV Layout, Texturing, Retopology, Ilustration, Sound Design
    I am thrilled to answer to your next project 
    makifkarasu@outlook.com
    View Resume
  
    <img src="{%static 'img/wallpaper.jpg'%}" alt=""><br><br>
    <br><br><br><hr><hr>
    
    <div class="footer">

       <li  class="last"><ol>I am thrilled to answer to your next project </ol>
       <ol>
    makifkarasu@outlook.com</ol>
    <ol>View Resume</ol>
    </div>
</li> 
</div>

</body>
<footer><div class="fot">Mehmet Akif Karasu &copy;2022
</div>
     <div class="social">
<a href=""><ol>facebook</ol></a>
<a href=""><ol>whatsapp</ol></a>
<a href="">
    <ol>linkin</ol>
</a>


</div>
</footer>
</html>